@charset "utf-8";

/* 모바일용 css  */
/* 서브 헤더 영역 css  */
.sub_header_section {
    order: 3;
    padding: 48px 0;
    padding: 3.000rem 0; 
    text-align: center;
    background: #219af7;
}

.sub_header_section h2 {
    margin-bottom: 12px;
    margin-bottom: 0.750rem;
    font-size: 1.313em;
    font-size: 1.313rem;
    color: #fff;
}

.breadcrum_list li {
    display: inline;
    font-size: 0.813em;
    font-size: 0.813rem;
    font-weight: bold;
}

/* 콘텐츠 영역 css  */
.content_section {
    order: 4;
    padding: 20px;
    padding: 1.250rem;
    background: #fff;
}

.board_table {
    width: 100%;
}

.board_table caption {
    position: absolute;
    top: -9999px;
    left: -9999px;
    width: 1px;
    height: 1px;    
    overflow: hidden;
    visibility: hidden;
}

.board_table thead, 
.board_table tbody {
    font-size: 0.813em;
    font-size: 0.813rem;
    text-align: center;
    font-weight: bold;
} 

.board_table thead {
    color: #fff;
    background: #2c3e50;
}

.board_table tbody, 
.board_table tbody a {
    color: #333;
}

.board_table tbody tr:nth-child(odd) {
    background: #f6f6f6;
}

.board_table thead tr th {
    padding: 18px 0;
    padding: 1.125rem 0;
}

.board_table tbody tr td {
    padding: 22px 0;
    padding: 1.375rem 0;
}

.board_table thead tr th:first-child, 
.board_table thead tr th:nth-child(3), 
.board_table thead tr th:nth-child(4), 
.board_table tbody tr td:first-child, 
.board_table tbody tr td:nth-child(3), 
.board_table tbody tr td:nth-child(4) {
    display: none;
} 

/* 푸터영역 css  */
.footer {
    order: 5;
}


/* 태블릿 용 css  */
@media all and (min-width: 768px) {
    /* 콘텐츠 영역 css  */
    .content_section {
        padding: 40px;
        padding: 2.500rem;
    }

    .board_table thead tr th:first-child, 
.board_table thead tr th:nth-child(3), 
.board_table thead tr th:nth-child(4), 
.board_table tbody tr td:first-child, 
.board_table tbody tr td:nth-child(3), 
.board_table tbody tr td:nth-child(4) {
    display: table-cell;
} 

.board_table thead tr th:first-child {
    width: 10%;
}

.board_table thead tr th:nth-child(2) {
    width: 65%;
}

.board_table thead tr th:nth-child(3) {
    width: 15%;
}

.board_table thead tr th:nth-child(4) {
    width: 10%;
}

.board_table tbody tr td:nth-child(2) {
    text-align: left;
}

}

/* pc용 css  */
@media all and (min-width:960px) {
    /* 서브 헤더 영역css  */
    .sub_header_section {
        order: 2;
    }

    /* 콘텐츠 영역 css  */
    .content_section {
        order: 3;
        padding: 60px;
        padding: 3.750rem;
    }

    .footer {
        order: 4;
    }
}