@charset "utf-8";

/* 모바일용 css  */
/* 서브 헤더 영역 css  */
.sub_header_section {
    order: 3;
    padding: 48px 0;
    padding: 3.000rem 0; 
    text-align: center;
    background: #219af7;
}

.sub_header_section h2 {
    margin-bottom: 12px;
    margin-bottom: 0.750rem;
    font-size: 1.313em;
    font-size: 1.313rem;
    color: #fff;
}

.breadcrum_list li {
    display: inline;
    font-size: 0.813em;
    font-size: 0.813rem;
    font-weight: bold;
}

/* 콘텐츠 영역 css  */
.content_section {
    order: 4;
    padding: 20px;
    padding: 1.250rem;
    background: #fff;
}

.gallery_list img {
    width: 100%;
    max-width: 100%;
    border-radius: 5px;
    transition: all .4s;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.gallery_list img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.gallery_list li {
    margin-top: 20px;
    margin-top: 1.250rem;
}

.gallery_list li:first-child {
    margin-top: 0;
}

.content_row_2 {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 40px 0;
    margin: 1.875rem 0 2.500rem 0;
}

.search_window {
    width: 118px;
    width: 7.375rem;
    height: 28px;
    height: 1.750rem;
    font-size: 0.688em;
    font-size: 0.688rem;
    line-height: 28px;
    line-height: 1.750rem;
    text-indent: 10px;
    text-indent: 0.625rem;
}

.search_select_box {
    display: none;
}

.writer_box a {
    display: block;
    width: 70px;
    width: 4.375rem;
    height: 30px;
    height: 1.875rem;
    font-size: 0.813em;
    font-size: 0.813rem;
    line-height: 30px;
    line-height: 1.875rem;
    text-align: center;
    color: #fff;
    background: #e65d5d;
}

.content_row_3 {
    display: flex;
    justify-content: center;
}

.content_row_3 span {
    width: 28px;
    width: 1.75rem;
    height: 28px;
    height: 1.750rem;
    text-indent: -9999px;
}

.content_row_3 span.list_prev_btn {
    margin-right: 10px;
    margin-right: 0.625rem;
    background: #2ecc71 url('../images/s_images/list_prev_btn.png') center center no-repeat;
}

.content_row_3 span.list_next_btn {
    margin-left: 10px;
    margin-left: 0.625rem;
    background: #2ecc71 url('../images/s_images/list_next_btn.png') center center no-repeat;
}

.content_row_3 a {
    width: 26px;
    width: 1.625rem;
    font-size: 0.813em;
    font-size: 0.813rem;
    line-height: 26px;
    line-height: 1.625rem;
    text-align: center;
    border: 1px solid #219af7;
    color: #219af7;
    transition: all .2s;
}

.content_row_3 a:nth-of-type(2) {
    margin: 0 6px;
    margin: 0 0.375rem;
}

.content_row_3 a:hover {
    color: #fff;
    background: #219af7;
}

/* 푸터영역 css  */
.footer {
    order: 5;
}


/* 태블릿 용 css  */
@media all and (min-width: 768px) {
    /* 콘텐츠 영역 css  */
    .content_section {
        padding: 40px;
        padding: 2.500rem;
    }

    .gallery_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .gallery_list li {
        width: 48.54%;
    }

    .gallery_list li:nth-child(2) {
        margin-top: 0;
    }

    .search_select_box {
        display: inline-block;
        position: relative;
    }

    .search_select_box span {
        display: inline-block;
        width: 80px;
        width: 5.000rem;
        height: 30px;
        height: 1.875rem;
        font-size: 0.813em;
        font-size: 0.813rem;
        line-height: 28px;
        line-height: 1.750rem;
        text-align: center;
        color: #fff;
        background: #e65d5d;
        cursor: pointer;
    }

    .search_select_list {
        display: none;
        position: absolute;
        top: 105%;
        left: 0;
        width: 100%;
    }

    .search_select_list li {
        padding: 6px 0;
        padding: 0.375rem 0;
        font-size: 0.750em;
        font-size: 0.750rem;
        text-indent: 10px;
        text-indent: 0.625rem;
        color: #fff;
        background: #e65d5d;
        cursor: pointer;
    }

    .search_select_box:hover .search_select_list {
        display: block;
    }
}

/* pc용 css  */
@media all and (min-width:960px) {
    /* 서브 헤더 영역css  */
    .sub_header_section {
        order: 2;
    }

    /* 콘텐츠 영역 css  */
    .content_section {
        order: 3;
        padding: 60px;
        padding: 3.750rem;
        width: 100%;
    }

    .gallery_list {
        display: inline-flex;
        flex-wrap: wrap;
    }

    .gallery_list li {
        margin-top: 12px ;
        margin-top: 0.750rem;
        display: inline-flex;
        justify-content: space-between;
    }

    .gallery_list li a {
        display: inline-flex;
    }

    .gallery_list li:nth-child(3), .gallery_list li:nth-child(4) {
        margin-top: 0;
    }

    .footer {
        order: 4;
    }
}